body {
    font-family: normal 16px, "Times New Roman", Times, serif;
    color: #4f6b72;
}

A:link {
        COLOR: #0011FF; TEXT-DECORATION: underline
}
A:visited {
        COLOR: #0011FF; TEXT-DECORATION: underline
}
A:hover {
        COLOR: #772244; TEXT-DECORATION: underline
}
A:active {
        COLOR: #0011FF; TEXT-DECORATION: underline
}
A.c1:link {
        COLOR: #FFFFFF; TEXT-DECORATION: underline
}
A.c1:visited {
        COLOR: #FFFFFF; TEXT-DECORATION: underline
}
A.c1:hover {
        COLOR: #772244; TEXT-DECORATION: underline
}
A.c1:active {
        COLOR: #FFFFFF; TEXT-DECORATION: underline
}
#main_table {
    padding: 0;
    margin: 0;
    border-width: 0 0 0 0;
    border-collapse:collapse; 
    border-spacing:0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;
    font-family: normal 11px Georgia, "Times New Roman", Times, serif;
    text-align: right;
}

th {
	background: bottom #e2e2e2;
	cursor: pointer;
    	font-family: normal 17px Georgia, "Times New Roman", Times, serif;
    	color: #4f6b72;
    	text-transform: uppercase;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	padding: 0px 0px 0px 0px;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}
font.bold {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:17px;
    font-weight:300;
    color: #000011;
}
h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:22px;
    color: #006b72;
}
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:19px;
    color: #ff6b72;
}
h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:16px;
    color: #4f6b72;
}
td {
    border-bottom: 1px solid #C1DAD7;
    font-size:17px;
    color: #000000;
    padding: 0px 0px 0px 0px;
}

td.noborder {
    background: #FFFFFF;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font-family: normal 10px Georgia, "Times New Roman", Times, serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font-family: normal 10px Georgia, "Times New Roman", Times, serif;
    color: #797268;
}

input.bigCheckbox {
	width: 21px;
	height: 14px;
}

tr.highlight td {
    background: #ccffcc;
}

tr.checked td {
	background: #eeeeff;
}

tr.selected td {
	background: #dddddd;
}

th.selected {
	background: #dddddd;
}
.btn {
	width: 100%;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	background: bottom #e2e2e2;
    	font-family: normal 17px, "Times New Roman", Times, serif;
	font-weight: 500;
	font-size: 100%;
    color: #4f6b72;
    text-transform: uppercase;
	white-space: nowrap;
}
.nodisp {
	width: 100%;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	background: bottom #FFFFFF;
    font-family: normal Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
	font-size: 100%;
    color: #4f6b72;
	white-space: nowrap;
}
.indented {
	padding-left: 10pt;
	padding-right: 10pt;
}
